
.nav-link{
    transition : all 0.3s ease;

}

.nav-link.active{
    background-color: white;
    color: #2f855a;
    font-weight: 600px;
    border-radius: 9999px 0 0 9999px;
}


egula amr html file egula teh ami functionality add korte cai beginer level er DOM use kore. Funcitonality ta hobe erokom -> Home page er jonno: homepage e ekta search bar ache ekta user icon ache. search bar e plant er nam likhe search dile plant tir info show korbe orthat plant ti deka jabe result hishbe, user icon e click korle ekta msg show korbo seta holo "Login Confirm". Catalog er jonno : ekhane plant gula sajno ache. proitta plant card er ekta button ache, name ache, price ache.search bar e click korle search result dekabo. Buy button e click korle ekta msg show korabo "Added" and cart navbar er pashe count number deka jabe orthat ekta product buy korle ekta 2ta korle 2ta erokom orthat product count number cart navbar deka jabe ebong order summary teh add hobe img shoho, jokon buy now teh click korbo tokon order summary teh prcie add hobe summation hishebe total ammount deka jabe ebong complete order e click korle ekta msg show korabo "Order Confirmed". delivery page er jonno : enter your address bar e click korle Bangladesh er kichu city location dekabo oi gulateh click korle msg ashbe "Location Selected".  

```